<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".tbl" mimeType="text/example" />
            <mimeMap fileExtension=".EDITBAK" mimeType="text/example" />
            <mimeMap fileExtension=".ZIPBAK" mimeType="text/example" />
        </staticContent>
    </system.webServer>
</configuration>
