input#check {
  display: none;
}

input#check + label {
  display: block;
  float: left;
  position: relative;
  border: 1px solid #adb8c0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

input#check:checked + label {
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

input#check:checked + label:after {
  content: '\2714';
  font-size: 25px;
  position: absolute;
  top: -13px;
  left: 2px;
  color: rgba(34,133,162,.8);
}