body { 
	font: 14px Georgia, serif; 
}

#page-wrap { 
	width: 700px; 
	margin: 0 auto; 
}

h1 { 
	margin: 25px 0;
	font: 20px Georgia, Serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
}

h2 { 
	font: 20px Georgia, Serif;
	letter-spacing: 2.5px;
}

hr {
    margin: 2rem auto 3rem auto;
    border: 2px solid #4D407A;
    width: 12rem;
}

#quizie input {
    vertical-align: middle;
}

#quizie ol {
   margin: 0 0 10px 20px;
   font-size: 20px;
}

#quizie ol li {
   margin: 0 0 20px 0;
}

#quizie ol li div {
   padding: 4px 0;
   font-size: 15px;
}

#quizie h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}

#results {
    font: 44px Georgia, Serif;
    text-align: center;
}

/* Summary */

h3 {
    font: 20px Georgia, Serif;
    letter-spacing: 2.5px;
    text-align: center;   
}

table {
    margin: 0 auto;
    width: 730px;
    /* border: 1px solid white; */
    font-family: oxygen;
    font-weight: 100;
    color: #0971B2;
}

table > tbody > tr:nth-child(1) > th {
    border-bottom: 1px solid #0971B2;
    font-size: 1.3rem;
    /* font-weight: 100; */
}

table > tbody > tr > td {
    padding: 8px 10px;
}

table > tbody > tr:nth-child(odd) > td {
    background-color: #0971B2;
    color: white;
}