h1 {
	font-family: 'oxygen';
	font-weight: 100;
	text-align: center;
	font-size: 2.5rem;
}

#page-home > h3, #page-history > h3 {
    text-align: center;
    font-family: 'oxygen';
    font-weight: 100;
    margin: 7rem 0 3.5rem;
    font-size: 30px;
    color: #0971B2;
}

table {
    margin: 0 auto;
    width: 730px;
    /* border: 1px solid white; */
    font-family: oxygen;
    font-weight: 100;
    color: #0971B2;
}

table > tbody > tr:nth-child(1) > th {
    border-bottom: 1px solid #0971B2;
    font-size: 1.3rem;
    /* font-weight: 100; */
}

table > tbody > tr > td {
    padding: 8px 10px;
}

table > tbody > tr:nth-child(odd) > td {
    background-color: #0971B2;
    color: white;
}

h4 {
    font-family: oxygen;
    font-size: 1.5rem;
    font-weight: 100;
    color: #0971B2;
    margin-left: 50px;
}

img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 54px;
}

div#log {
    margin: 100px auto 0;
    display: block;
    width: 150px;
}

#log > ul {
	margin: 0 0;
	padding: 0 0;
	list-style-type: none;
	text-align: center;
}

#log > ul > li {
	padding: 10px;
}

#log > ul > li > a {
	font-family: 'oxygen';
}

p#ErrNote {
    margin: 2% 5%;
    font-family: oxygen;
    color: red;
}